

<h2>login as: {{ admin.username }}</h2>

<a href="/admin/article/new">new article</a>

<h2>Article List</h2>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>url</th>
    <th>publish time</th>
    <th>action</th>
  </tr>
  {% for article in articles %}
  <tr>
    <td>{{ article.id }}</td>
    <td>{{ article.title }}</td>
    <td>{{ article.url }}</td>
    <td>{{ article.publish_at }}</td>
    <td><a href="/admin/article/{{ article.id }}">EDIT</a> <form action="/admin/article/{{ article.id }}" method="POST"> <input type="hidden" name="_method" value="DELETE"> <button>DELETE</button></form></td>
  </tr>
  {% endfor %}
</table>

<h2>Change Password</h2>

<form action="/admin/password" method="post">

   <input type="password" name="password" placeholder="new password" required>

   <button>change</button>
</form>

<h2>Change setting</h2>

<form action="/admin/setting" method="post">

   <input type="text" name="name" placeholder="setting name" required>
   <input type="text" name="value" placeholder="value" required>
   <button>change</button>
</form>