<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/statics/admin.css">
    <title>Admin Panel</title>
</head>
<body>


<header class="admin">
    <section class="container">
        <img src="/statics/cloud.png" alt="" class="logo">
        <nav>
            <a href="">Dashboard</a>
            <a href="">Articles</a>
            <a href="">User Management</a>
            <a href="">Site Setting</a>
        </nav>
        {{ admin.username }}
    </section>
</header>
<section class="content">
    <section class="container">

        <section class="box">
            <header>
                Articles
                <span><a href="/admin/article/new">new article</a></span>
            </header>
            <section class="body">
                <table class="articles">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Published Time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>
                            {% if article.published == false %}
                            DRAW
                            {% endif %}
                            {{ article.title }}
                        </td>
                        <td>{{ article.url }}</td>
                        <td>{{ article.publish_at | date(format="%B %d, %Y") }}</td>
                        <td class="action">
                            <a href="/admin/article/{{ article.id }}">EDIT</a>
                            <form action="/admin/article/delete/{{ article.id }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button>DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </section>

        <section class="box">
            <header>
                Change Password
            </header>
            <section class="body">
                <form action="/admin/password" method="post">

                    <input type="password" name="password" placeholder="new password" required>

                    <button>change</button>
                </form>
            </section>
        </section>
        <section class="box">
            <header>
                Change setting
            </header>
            <section class="body">
                <form action="/admin/setting" method="post">

                    <input type="text" name="name" placeholder="setting name" required>
                    <input type="text" name="value" placeholder="value" required>
                    <button>change</button>
                </form>
            </section>
        </section>

    </section>

</section>

</body>
</html>