
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/admin/article" method="article">

   <input type="hidden" name="id" value="{{ article.id }}">
   <input type="text" name="title" placeholder="title" required value="{{ article.title }}">
   <input type="text" name="url" placeholder="url" value="{{ article.url }}">
   <textarea name="body" id="" cols="30" rows="10" placeholder="body">{{ article.body }}</textarea>
   <input type="datetime-local" name="publish_at" id="">
   <input type="checkbox" name="published" {% if article.published %}checked{% endif %}>

   <button>submit</button>
</form>

</body>
</html>