* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font: 300 1em/1.5 PingFangSC-Regular, Microsoft Yahei UI, Noto Sans CJK SC DemiLight, sans-serif;*/
    font-family: PingFangSC-Regular, Microsoft Yahei UI, Noto Sans CJK SC DemiLight, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


div.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5rem;
}

div.login-box > img {
    height: 90px;
}

div.login-box > h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

div.login-box > form.login {
    margin: 2rem 0;
}
div.login-box > form.login div.line {
    margin: .35rem 0;
}


div.login-box > form.login input {
    font-size: 1rem;
    padding: .25rem .75rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    outline: none;
}

div.login-box > form.login button {
    font-size: 1rem;
    padding: .25rem .75rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #70ccf6;
    outline: none;
    width: 100%;
    background-color: #70ccf6;
    color: #fff;
}

