{% extends "base" %}

{% block title %}{{ article.article.title }}{% endblock title %}
{% block body %}

<section class="single article">
    <p class="mate">{{ article.timestamp | date(format="%B %d, %Y") }}</p>
    <h2>{{ article.article.title }}</h2>
    <section class="content yue">
        {{ article.markdown_content | safe }}
    </section>
</section>
{% endblock body %}