{% extends "base.html" %}

{% block title %}{{ article.article.title }}{% endblock title %}
{% block keywords %}{{ article.article.keywords | join(sep=", ") }}{% endblock keywords %}
{% block body %}

<section class="full-page">
    <section class="container">
        <nav>
            <a href="/">HOMEPAGE</a>
            <a href="/portfolios">PORTFOLIOS</a>
            <a href="/about">ABOUT</a>
        </nav>
        <section class="single article">
            <p class="mate">{{ article.timestamp | date(format="%B %d, %Y") }}</p>
            <h2>{{ article.article.title }}</h2>
            <section class="content yue">
                {{ article.markdown_content | safe }}
            </section>
        </section>
    </section>
</section>
{% endblock body %}